﻿﻿@model List<Vjezba.Model.Repairer>

<table id="tbl-repairs" class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Oib</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var repairer in Model)
        {
            <tr>
                <td>@repairer.ID</td>
                <td>@repairer.Name</td>
                <td>@repairer.Surname</td>
                <td>@repairer.Oib</td>
                <td>@Html.ActionLink("Detalji", "Details", new { id = repairer.ID })</td>
                <td>@Html.ActionLink("Uredi", "Edit", new { id = repairer.ID })</td>
                <td>@Html.ActionLink("Obriši", "Delete", new { id = repairer.ID })</td>
            </tr>
        }

    </tbody>
</table>
