﻿@model Vjezba.Model.Repairer
@{
    ViewBag.Title = "Dodaj novog servisera";
}
<h2>Dodaj novog servisera</h2>
@using (Html.BeginForm())
{
    <text>
        @Html.Partial("_CreateOrEdit")
    </text>

}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

