﻿@model Vjezba.Model.Repairer

@{
    ViewBag.Title = "Detalji servisera";
}

<h2>Pregled detalja</h2>

@if (Model == null)
{
    <div class="alert alert-danger" role="alert">Ne postoji odabrani serviser!</div>
}
else
{
    <table class="table table-condensed">
        <tbody>
            <tr>
                <th>ID</th>
                <td>@Model.ID</td>
            </tr>
            <tr>
                <th>Ime</th>
                <td>@Model.Name</td>
            </tr>
            <tr>
                <th>Prezime</th>
                <td>@Model.Surname</td>
            </tr>
            <tr>
                <th>Oib</th>
                <td>@Model.Oib</td>
            </tr>
            <tr>
                <th>Dodan</th>
                <td>@Model.DateCreated</td>
            </tr>
            <tr>
                <th>Izmijenjen</th>
                <td>@Model.DateModified</td>
            </tr>
            <tr>
                <td colspan="2">@Html.ActionLink("Uredi", "Edit", new { id = Model.ID })</td>
            </tr>

        </tbody>
    </table>
}




