﻿
﻿@model Vjezba.Model.Repairer

@{
    ViewBag.Title = "Izmijeni podatke o serviseru";
}

<h2>Izmijeni podatke o serviser</h2>

@using (Html.BeginForm())
{

    <text>
        @Html.Partial("_CreateOrEdit")
        @Html.HiddenFor(p => p.ID)
    </text>
}

<div>
    @Html.ActionLink("Vrati se na listu", "Index")
</div>


