﻿﻿@model List<Vjezba.Model.Part>

<table id="tbl-parts" class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Naziv</th>
            <th>Datum spremanja</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var parts in Model)
        {
            <tr>
                <td>@parts.ID</td>
                <td>@parts.Title</td>
                <td>@parts.DateCreated</td>
                <td>@Html.ActionLink("Detalji", "Details", new { id = parts.ID })</td>
                <td>@Html.ActionLink("Uredi", "Edit", new { id = parts.ID })</td>
                <td>@Html.ActionLink("Obriši", "Delete", new { id = parts.ID })</td>
            </tr>
        }

    </tbody>
</table>
