﻿@model Vjezba.Model.Part
@{
    ViewBag.Title = "Dodaj novi dio";
}
<h2>Dijelovi</h2>
@using (Html.BeginForm())
{
    <text>
        @Html.Partial("_CreateOrEdit")
    </text>

}
<div>
    @Html.ActionLink("Vrati se na listu", "Index")
</div>

