﻿@model Vjezba.Model.Part

@{
    ViewBag.Title = "Detalji dijelova";
}

<h2>Pregled detalja</h2>

@if (Model == null)
{
    <div class="alert alert-danger" role="alert">Ne postoji odabrani dio!</div>
}
else
{
    <table class="table table-condensed">
        <tbody>
            <tr>
                <th>ID</th>
                <td>@Model.ID</td>
            </tr>
            <tr>
                <th>Naziv</th>
                <td>@Model.Title</td>
            </tr>
            <tr>
                <th>Dodan:</th>
                <td>@Model.DateCreated</td>
            </tr>
            <tr>
                <th>Izmjenjen</th>
                <td>@Model.DateModified</td>
            </tr>
            <tr>
                <td colspan="2">@Html.ActionLink("Uredi", "Edit", new { id = Model.ID })</td>
            </tr>

        </tbody>
    </table>
}




