﻿﻿@model Vjezba.Model.Part

@{
    ViewBag.Title = "Uredi dijelove";
}

<h2>Uredi dijelove</h2>

@using (Html.BeginForm())
{

    <text>
        @Html.Partial("_CreateOrEdit")
        @Html.HiddenFor(p => p.ID)
    </text>
}

<div>
    @Html.ActionLink("Vrati se na listu", "Index")
</div>

