﻿@{
    <script type="text/javascript">
        $(function () {
            $('.date-picker').datetimepicker({
                locale: '@System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName',
                format: '@System.Threading.Thread.CurrentThread.CurrentCulture.DateTimeFormat.ShortDatePattern.ToUpper()'
            });
        });
    </script>

    <script type="text/javascript">
        $.validator.methods.date = function (value, element) {
            if (this.optional(element) && (value == '' || value == undefined || value == null))
                return true;

            var shortDatePattern = '@System.Threading.Thread.CurrentThread.CurrentCulture.DateTimeFormat.ShortDatePattern.ToUpper()';

            return moment(value, shortDatePattern).isValid();
        }

        $.validator.methods.number = function (value, element) {
            if (this.optional(element))
                return true;
            if (!isNaN(Globalize.parseFloat(value, '@System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName'))) {
                return true;
            }
            return false;
        }

    </script>

}
