﻿﻿@model List<Vjezba.Model.Repair>

<table id="tbl-repairs" class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Naziv</th>
            <th>Pospremljen</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var repair in Model)
        {
            <tr>
                <td>@repair.ID</td>
                <td>@repair.Title</td>
                <td>@repair.DateCreated</td>
                <td>@Html.ActionLink("Detalji", "Details", new { id = repair.ID })</td>
                <td>@Html.ActionLink("Uredi", "Edit", new { id = repair.ID })</td>
                <td>@Html.ActionLink("Obriši", "Delete", new { id = repair.ID})</td>
            </tr>
        }

    </tbody>
</table>
