﻿@model Vjezba.Model.Repair
@{
    ViewBag.Title = "Dodaj popravak";
}
<h2>Dodaj podatke o popravku</h2>
@using (Html.BeginForm())
{
    <text>
        @Html.Partial("_CreateOrEdit")
    </text>

}
<div>
    @Html.ActionLink("Vrati se na listu", "Index")
</div>

