﻿
﻿@model Vjezba.Model.Repair

@{
    ViewBag.Title = "Izmijeni podatke o popravku";
}

<h2>Izmijeni podatke o popravku</h2>

@using (Html.BeginForm())
{

    <text>
        @Html.Partial("_CreateOrEdit")
        @Html.HiddenFor(p => p.ID)
    </text>
}

<div>
    @Html.ActionLink("Vrati se na listu", "Index")
</div>

