﻿@model Vjezba.Model.Car

@using (Html.BeginCollectionItem("Cars"))
{
     <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Marka</th>
                <td>@Model.Mark</td>
            </tr>
            <tr>
                <th>Tip</th>
                <td>@Model.Type</td>
            </tr>
            <tr>
                <th>Registarske oznake</th>
                <td>@Model.LicensePlates.ToUpper()</td>
            </tr>
            <tr>
                <th>Godina proizvodnje</th>
                <td>@Model.Year</td>
            </tr>
            <tr>
                <th>Broj kilometara</th>
                <td>@Model.NumOfKm</td>
            </tr>
            <tr>
                <th>Broj šasije</th>
                <td>@Model.SerialNum</td>
            </tr>
        </tbody>
    </table>    
    
   
}

