﻿﻿@model List<Vjezba.Model.Client>

<table id="tbl-client" class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Adresa</th>
            <th>Oib</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var client in Model)
        {
            <tr>
                <td>@client.ID</td>
                <td>@client.Name</td>
                <td>@client.Surname</td>
                <td>@client.Address</td>
                <td>@client.Oib</td>
                <td>@Html.ActionLink("Uredi", "Edit", new { id = client.ID })</td>
                <td>@Html.ActionLink("Detalji", "Details", new { id = client.ID })</td>
                <td>@Html.ActionLink("Obriši", "Delete", new { id = client.ID })</td>
            </tr>
        }

    </tbody>
</table>
