﻿@model Vjezba.DAL.CarDTO

@using (Html.BeginCollectionItem("Cars"))
{
    <div class="form-horizontal single-contact-wrapper">
        @Html.HiddenFor(p => p.Id)
       <div class="form-group">
            @Html.LabelFor(p => p.Mark, new { @class = "control-label col-md-2" })          
            <div class="col-md-10">
                @Html.TextBoxFor(p => p.Mark, new { @class = "form-control" })              
                @Html.ValidationMessageFor(p => p.Mark, "", new { @class = "text-danger" })
              
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(p => p.Type, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(p => p.Type, new { @class = "form-control" })
                @Html.ValidationMessageFor(p => p.Type, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(p => p.LicensePlates, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(p => p.LicensePlates, new { @class = "form-control" })
                @Html.ValidationMessageFor(p => p.LicensePlates, "", new { @class = "text-danger" })

            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(p => p.Year, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(p => p.Year, new { @class = "form-control" })
                @Html.ValidationMessageFor(p => p.Year, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(p => p.NumOfKm, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(p => p.NumOfKm, new { @class = "form-control" })
                @Html.ValidationMessageFor(p => p.NumOfKm, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(p => p.SerialNum, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(p => p.SerialNum, new { @class = "form-control" })
                @Html.ValidationMessageFor(p => p.SerialNum, "", new { @class = "text-danger" })

            </div>
        </div>

        
        <a href="javascript:void" onclick="removeFromHTML($(this).parent())"><span class="glyphicon glyphicon-remove"></span></a>

    </div>
}
