﻿@model Vjezba.Model.Client

@{
    ViewBag.Title = "Detalji klijenta";
}

<h2>Pregled detalja klijenta</h2>

@if (Model == null)
{
    <div class="alert alert-danger" role="alert">Ne postoji odabrani klijent!</div>
}
else
{
    <table class="table table-condensed">
        <tbody>
            <tr>
                <th>ID</th>
                <td>@Model.ID</td>
            </tr>
            <tr>
                <th>Ime</th>
                <td>@Model.Name</td>
            </tr>
            <tr>
                <th>Prezime</th>
                <td>@Model.Surname</td>
            </tr>
            <tr>
                <th>Adresa</th>
                <td>@Model.Address</td>
            </tr>
            <tr>
                <th>OIB</th>
                <td>@Model.Oib</td>
            </tr>
            <tr>
                <th>Telefon</th>
                <td>@Model.Phone</td>
            </tr>
            <tr>
                <th>Grad</th>
                <td>@Model.Citiy</td>
            </tr>
            <tr>
                <th>Kreiran</th>
                <td>@Model.DateCreated</td>
            </tr>

            <tr>
                <td colspan="2">@Html.ActionLink("Uredi", "Edit", new { id = Model.ID })</td>
            </tr>

        </tbody>
    </table>

    <h3>Vozila klijenta</h3>
    foreach (var cars in Model.Cars)
    {
        Html.RenderPartial("_CarsDetails", cars);
    }
}




