﻿@model Vjezba.DAL.ClientDTO

@{
    ViewBag.Title = "Izmijeni klijenta";
}

<h2>Izmijeni podatke o klijentu</h2>

@using (Html.BeginForm())
{

    <text>
        @Html.Partial("_CreateOrEdit")
        @Html.HiddenFor(p => p.Id)
    </text>
}

<div>
    @Html.ActionLink("Vrati se na listu", "Index")
</div>

@section scripts{

    <script type="text/javascript">



    function obrisiRed(id) {

        alert(id);

        $.ajax({
            url: '@Url.Action("Delete")' + '?id=' + id,
            method: "POST",
            data: $(this).closest('form').serialize(),
            success: function () {
                $("#row_" + id).remove();
            }

        });
    }

    function removeFromHTML(ele) {

        $(ele).empty();
    }

    $(function () {
        $("#addCarForm").on("click", function () {

            $.ajax({
                url: '@Url.Action("AddNewCar")',
                    method: "POST",
                    dataType: "html",
                    success: function (data) {
                        var form = $("#car");
                        $(data).appendTo(form);
                    }

                });

            });

        });

        $(function () { // will trigger when the document is ready
            $('.datepicker').datepicker(); //Initialise any date pickers
        });

         

    </script>

}