﻿﻿@model Vjezba.DAL.WorkingOrderDTO

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.Date, new { @class = "col-md-2 control-label" })
        <div class="col-md-4">
            <div class="input-group date-picker">
                @Html.TextBoxFor(m => m.Date, new { @class = "form-control" })
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>

            @Html.ValidationMessageFor(m => m.Date, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Repairer, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.RepairerID, (IEnumerable<SelectListItem>)ViewBag.PossibleRepairers, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.RepairerID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Request, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Request, new { cols = 60, rows = 8 })
            @Html.ValidationMessageFor(model => model.Request, "", new { @class = "text-danger" })
        </div>
    </div>

    
    <div class="form-group">
        <label for="client" class="control-label col-md-2">Klijent</label>
        <div class="col-md-10">
            <select id="Client" name="Client" class="form-control required">
                <option value=""></option>
            </select>   
            @Html.ValidationMessage("Client", "*", new { @class = "text-danger" })  
        </div>
    </div>

    <div class="form-group">
        <label for="car" class="control-label col-md-2">Vozilo</label>
        <div class="col-md-10">
            <select id="Car" name="Car" class="form-control required">
                <option value=""></option>
            </select>
            @Html.ValidationMessage("Client", "*", new { @class = "text-danger" })
            
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <h3>Dijelovi</h3>
            @foreach (var part in Model.Parts)
            {
                Html.RenderPartial("_SinglePartEdit", part);
            }

            <div id="part"></div>
            <a href="javascript:void" id="addPartForm"><span class="glyphicon glyphicon-plus"></span></a>
        </div>
        <div class="col-md-6">
            <h3>Popravci</h3>
            @foreach (var repair in Model.Repairs)
            {
                Html.RenderPartial("_SingleRepairEdit", repair);
            }

            <div id="repair"></div>
            <a href="javascript:void" id="addRepairForm"><span class="glyphicon glyphicon-plus"></span></a>

        </div>

    </div>


   

   


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>

