﻿﻿@model List<Vjezba.Model.WorkingOrder>

<table id="tbl-client" class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Klijent</th>
            <th>Vozilo</th>
            <th>Registarska oznaka</th>
            <th>Datum</th>
            <th>Serviser</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.ID</td>
                <td>@order.Client.Name @order.Client.Surname</td>
                <td>@order.Car.Mark</td>
                <td>@order.Car.LicensePlates.ToUpper()</td>
                <td>@order.Date</td>
                <td>@order.Repairer.Name @order.Repairer.Surname</td>
                <td>@Html.ActionLink("Uredi", "Edit", new { id = order.ID })</td>
                <td>@Html.ActionLink("Detalji", "Details", new { id = order.ID })</td>
                <td>@Html.ActionLink("Obriši", "Delete", new { id = order.ID })</td>
            </tr>
        }

    </tbody>
</table>

