﻿@model Vjezba.Model.Part

@using (Html.BeginCollectionItem("Parts"))
{
    @*<tr>
        <th>ID</th>
        <td>@Model.ID</td>
    </tr>*@

    <tr>
         <th>Naziv</th>
         <td>@Model.Title</td>
    </tr>
  
}


