﻿@model Vjezba.Model.Repair

@using (Html.BeginCollectionItem("Repairs"))
{
    @*<tr>
            <th>ID</th>
            <td>@Model.ID</td>
        </tr>*@

    <tr>
        <th>Naziv</th>
        <td>@Model.Title</td>
    </tr>

}



