﻿@model Vjezba.DAL.PartDTO

@using (Html.BeginCollectionItem("Parts"))
{
    <div class="form-horizontal single-contact-wrapper">
        @Html.HiddenFor(p => p.Id)

        <div class="form-group">
            @Html.LabelFor(p => p.Title, new { @class = "control-label col-md-2" })
            
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.PartID, (IEnumerable<SelectListItem>)ViewBag.PossibleParts, new { @class = "form-control" })
                
                @Html.ValidationMessageFor(model => model.PartID, "", new { @class = "text-danger" })
            </div>         
        </div>
        <a href="javascript:void" onclick="removeFromHTML($(this).parent())"><span class="glyphicon glyphicon-remove"></span></a>

    </div>
}

