﻿@model Vjezba.DAL.RepairDTO

@using (Html.BeginCollectionItem("Repairs"))
{
    <div class="form-horizontal single-contact-wrapper">
        @Html.HiddenFor(p => p.Id)

        <div class="form-group">
            @Html.LabelFor(p => p.Title, new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.DropDownListFor(model => model.RepairID, (IEnumerable<SelectListItem>)ViewBag.possibleRepair, new { @class = "form-control" })

                @Html.ValidationMessageFor(model => model.RepairID, "", new { @class = "text-danger" })
            </div>
        </div>
        <a href="javascript:void" onclick="removeFromHTML($(this).parent())"><span class="glyphicon glyphicon-remove"></span></a>

    </div>
}


