﻿@model Vjezba.Model.WorkingOrder

@{
    ViewBag.Title = "Details";
}

<h2>Pregled detalja radnog naloga</h2>

@if (Model == null)
{
    <div class="alert alert-danger" role="alert">Ne postoji odabrani radni nalog!</div>
}
else
{
    <table class="table table-condensed">
        <tbody>
            <tr>
                <th>ID</th>
                <td>@Model.ID</td>
            </tr>
            <tr>
                <th>Serviser</th>
                <td>@Model.Repairer.Name @Model.Repairer.Surname</td>
            </tr>
            <tr>
                <th>Zahtjev klijenta</th>
                <td>@Model.Request</td>
            </tr>
            <tr>
                <th>Datum</th>
                <td>@Model.Date</td>
            </tr>
            <tr>
                <th>Vozilo</th>
                <td>@Model.Car.Mark @Model.Car.Type</td>
            </tr>
            <tr>
                <th>Kilometraza vozila</th>
                <td>@Model.Car.NumOfKm</td>
            </tr>
            <tr>
                <th>Serijski broj vozila</th>
                <td>@Model.Car.SerialNum</td>
            </tr>
            <tr>
                <th>Registartke oznake</th>
                <td>@Model.Car.LicensePlates.ToUpper()</td>
            </tr>
            <tr>
                <th>Klijent</th>
                <td>@Model.Client.Surname @Model.Client.Name</td>
            </tr>
            <tr>
                <th>OIB klijenta</th>
                <td>@Model.Client.Oib</td>
            </tr>

            <tr>
                <td colspan="2">@Html.ActionLink("Uredi", "Edit", new { id = Model.ID })</td>
            </tr>

        </tbody>
    </table>

    <h3>Utroseni dijelovi</h3>
    <table class="table table-bordered">
        <tbody>
            @foreach (var part in Model.Parts)
            {
                 Html.RenderPartial("_PartsDetails", part);
            }
        </tbody>
    </table>

    <h3>Popravci</h3>
    <table class="table table-bordered">
        <tbody>
            @foreach (var repair in Model.Repairs)
            {
                Html.RenderPartial("_RepairDetails", repair);
            }
        </tbody>
    </table>
}
