﻿@model Vjezba.DAL.WorkingOrderDTO

@{
    ViewBag.Title = "Novi radni nalog";
}

<h2>Radni nalog</h2>


@using (Html.BeginForm())
{

    <text>
        @Html.Partial("_CreateOrEdit")
        @Html.HiddenFor(p => p.ID)
    </text>
}


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $.getJSON('/WorkingOrders/GetClients', function (data) {
                $('#Client option').remove();
                $('#Client').append('<option value=""></option');
                for (i = 0; i < data.length; i++) {
                    $('#Client').append('<option value="' +
                    data[i].ID + '">' + data[i].Name + " " + data[i].Surname + '</option');
                }
            }).fail(function (jqXHR, textStatus, errorThrown) {
                // Ajax fail
                alert('Error get client list!');
            });

            // Prvi dropdown je selektiran, pokrece se druga funkcija
            $('#Client').change(function () {
                var clientid = $(this).find(":selected").val();
                if (clientid.length > 0) {
                    //popunjavanje vozila
                    $.getJSON('/WorkingOrders/GetClientCars/', { id: clientid }, function (data) {
                        $('#Car option').remove();
                        $('#Car').append('<option value=""></option');
                        for (i = 0; i < data.length; i++) {
                            $('#Car').append('<option value="' +
                            data[i].ID + '">' + data[i].Mark + '</option');
                        }
                    }).fail(function (jqXHR, textStatus, errorThrown) {
                        alert('Error get car!');
                    });
                }
                else {
                    $('#product option').remove();
                    $('#product').append('<option value=""></option');
                }
            });
        });




        $(function () {
            $("#addPartForm").on("click", function () {

                $.ajax({
                    url: '@Url.Action("AddNewPart")',
                    method: "POST",
                    dataType: "html",
                    success: function (data) {
                        var form = $("#part");
                        $(data).appendTo(form);
                    }

                });

            });

        });

        $(function () {
            $("#addRepairForm").on("click", function () {

                $.ajax({
                    url: '@Url.Action("AddNewRepair")',
                    method: "POST",
                    dataType: "html",
                    success: function (data) {
                        var form = $("#repair");
                        $(data).appendTo(form);
                    }

                });

            });

        });


        function removeFromHTML(ele) {

            $(ele).empty();
        }



    </script>
}